addict
dataclasses
pandas
pyyaml
albumentations
tqdm
tensorboardX
# mmcv-full==1.2.7
numpy
opencv-python
perceptual
pillow
# scikit-image==0.17.2
# scipy==1.5.4
tifffile
timm
typing-extensions
yapf

# pip install torch==1.13.0+cu116 torchvision==0.14.0+cu116 torchaudio==0.13.0 --extra-index-url https://download.pytorch.org/whl/cu116